@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
*::-webkit-scrollbar {
  display: none;
}

@layer base {
  h1 {
    @apply capitalize text-2xl font-poppins font-semibold;
  }
  h2 {
    @apply capitalize text-8xl font-poppins font-medium;
  }
  h3 {
    @apply text-lg font-poppins font-medium;
  }
  h4 {
    @apply capitalize text-base font-poppins font-medium;
  }
  h5 {
    @apply capitalize text-base font-poppins font-normal;
  }
}
@layer components {
  /* ---------------------------- navbar ---------------------------- */
  .logo-container {
    @apply absolute top-2 left-1  md:top-3 md:left-3 cursor-pointer hover:opacity-70 transition-all flex flex-row items-center justify-start gap-x-1 md:gap-x-2;
  }

  .logo-img {
    @apply w-9 h-9 md:w-10 md:h-10 rounded-full hover:opacity-75 transition-all sm:hidden md:block overflow-hidden;
  }
  /* ---------------------------- general --------------------------- */
  .main-layout {
    @apply h-full w-full relative bg-fillDrk;
  }

  .main-layout::-webkit-scrollbar,
  .main-container::-webkit-scrollbar {
    display: none;
    color: #52525b;
  }
  .icon-btn {
    @apply w-10 h-10 z-10 object-cover object-center overflow-hidden rounded-sm shadow-sm  border-2 border-fillDrk hover:border-textLit active:border-fillDrkactive transition-all group-hover:opacity-75;
  }
  .icon-img {
    @apply w-10 h-10 ml-auto md:w-12 md:h-12;
  }
  .navbar-link-container {
    @apply absolute right-0 top-16 w-14 md:w-16 h-52  2xl:h-64 z-40 flex flex-col gap-3 border-l-2 border-accent transition-all;
  }
  .slide-container {
    @apply w-full flex flex-col gap-1 h-full  p-2 md:p-5 2xl:p-10 mt-auto justify-start sm:justify-end;
  }
  .slide-logo {
    @apply w-7 h-6 mt-1 transition-all z-10 overflow-hidden bg-textDrk rounded-full;
  }
  .standard-btn {
    @apply flex items-center justify-center bg-accentHover bg-opacity-90 gap-2 w-28 sm:w-32  rounded-sm hover:bg-accentActive text-textDrk hover:text-textMed active:bg-fillDrkactive transition-all shadow-black shadow-sm text-sm 2xl:text-base;
  }
}
