@tailwind base;
@tailwind components;
@tailwind utilities;
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
@layer base {
  body {
    @apply w-full h-screen bg-fillDrk text-textDrk font-normal;
  }

  h1 {
    @apply capitalize text-3xl font-poppins font-semibold;
  }
  h2 {
    @apply capitalize  text-2xl sm:text-3xl md:text-4xl  font-poppins font-medium text-center;
  }
  h3 {
    @apply text-base md:text-lg lg:text-2xl font-poppins font-normal;
  }
  h4 {
    @apply capitalize text-base font-poppins font-medium;
  }
  h5 {
    @apply capitalize text-base font-poppins font-normal;
  }
}
@layer components {
  .main-page-container {
    @apply w-full h-screen max-w-6xl mx-auto bg-fillDrk relative overflow-y-scroll  scroll-smooth;
  }

  .welcome-container {
    @apply mx-auto h-5/6 2xl:h-3/4 grid grid-cols-1 grid-rows-2 sm:grid-cols-11  sm:grid-rows-1 bg-fillDrkSolid pt-16 gap-2 rounded-b-lg overflow-hidden transition-all  mb-3;
  }
  .main-page-image-container {
    @apply h-fit sm:h-full w-fit col-span-1 sm:col-span-2 transition-all animate-mainImageX;
  }
  .main-page-image {
    max-height: 500px;
    @apply w-52 h-52 md:w-64 md:h-80 lg:h-full overflow-hidden object-cover transition-all rounded-none rounded-r-md shadow-md;
  }
  .main-page-text {
    @apply h-full w-full col-span-1 sm:col-span-8 sm:col-start-4
    text-right flex flex-col justify-end p-4  sm:p-5 sm:pr-20 transition-all;
  }

  .pb-line-cont-main {
    @apply transition-all w-full max-w-6xl grid grid-cols-2 sm:grid-cols-4 h-fit place-items-center;
  }
  .pb-line-cont {
    @apply w-full max-w-6xl grid grid-cols-4 h-14 sm:h-16 2xl:h-20 place-items-center;
  }
  .pb-line {
    @apply w-full h-full col-start-2 border-r-4 border-textLit;
  }

  .project-info-container {
    @apply w-full  overflow-hidden transition-all gap-2 sm:gap-1 flex flex-col h-0 md:gap-3 p-2 pb-0;
  }

  .project-info-outer {
    @apply flex flex-col sm:flex-row w-full h-full;
  }
  .main-info-text {
    @apply transition-all text-base text-textLit pb-10;
  }

  .box-text {
    @apply border border-accent rounded-sm h-fit px-1;
  }
  .info-detail {
    @apply flex flex-row leading-6 gap-x-2  md:text-base 2xl:text-lg;
  }
}
